# pip install pyg_lib torch_scatter torch_sparse torch_cluster torch_spline_conv -f https://data.pyg.org/whl/torch-2.1.0+cu121.html
torch>=2.1.0
numpy>=1.26.0
pandas>=2.2.0
scikit-learn>=1.6.0
pytorch-frame>=0.2.5
relbench==1.1.0
torch_geometric==2.6.1
sentence-transformers>=3.3.1
matplotlib>=3.10.0
seaborn>=0.13.0
tqdm>=4.65.0
networkx>=3.1
